*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	
}
.left{
	height: 1000px;
	width: 65%;
	float: left;
	margin-left: 100px;
}
.right{
	position: fixed;
	width: 17%;
	height: 602px;
	right: 0px;
	float: left;
	text-align: center;
	border: 6px solid #20B2AA;
}
.img{
	margin-top: 50px;
}
.xin{
	line-height: 25px;
}
.content h1{
	padding-top:30px;
}